* {
  margin: 0;
  padding: 0;
  box-sizing: 0 auto;
}

/* DEBUG */

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

/* FINE DEBUG */
/* inizio header */

header main footer {
  min-height: 80px;
  max-width: 98%;
}


.container {
  max-width: 70%;
  min-height: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

header .container .row {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-wrap: wrap;
  line-height: 65px;
}

header .container .row ul .navbar {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

header .row a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

header .container .col nav ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  /*debug?*/
  padding: 10px;
}

header .container .text-box {
  margin-top: 80px;
  padding: 50px;
  /*debug*/
  text-align: center;
}

header .container .row-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

header .container .row-buttons a {
  color: black;
  display: flex;
  padding: 10px;
}

header .container .row-buttons .buttons {
  display: inline-block;
  padding: 10px;
}

header .container .row-buttons a {
  text-decoration: none;
}

/* fine header */
/* inizio main */

main .container {
  padding-top: 160px;
}

main .container .row {
  min-height: 180px;
  max-width: 100%;
  display: flex;
  padding-bottom: 380px;
}

main .container .col-sessanta {
  text-align: center;
  padding: 80px; /*debug*/
  width: 60%;
}


main .container .col-quaranta {
  text-align: center;
  padding: 80px; /*debug*/
  width: 40%;
}