* {
  margin: 0;
  padding: 0;
  box-sizing: 0 auto;
}

/* DEBUG */

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

/* FINE DEBUG */
/* inizio header */

header main footer {
  min-height: 80px;
  max-width: 98%;
}


.container {
  max-width: 70%;
  min-height: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

header .container .row {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-wrap: wrap;
  line-height: 65px;
}

header .container .row ul .navbar {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

header .row a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

header .container .col nav ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  /*debug?*/
  padding: 10px;
}

header .container .row-text-box {
  margin-top: 80px;
  display: flex;
  max-width: 100%;
  text-align: center;
}

header .container .row-text-box .col-text-box {
  padding: 40px;
  width: 50%;
}

header .container .row-text-box .col-empty-box {
  padding: 40px;
  width: 25%;
}

header .container .row-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

header .container .row-buttons a {
  color: black;
  display: flex;
  padding: 10px;
}

header .container .row-buttons .buttons {
  display: inline-block;
  padding: 10px;
}

header .container .row-buttons a {
  text-decoration: none;
}

/* fine header */
/* inizio main */

main .container {
  padding-top: 160px;
}

main .container .row {
  min-height: 180px;
  max-width: 100%;
  display: flex;
  padding-bottom: 160px;
}

main .container .col-sessanta {
  text-align: center;
  padding: 80px;
  /*debug*/
  width: 60%;
}


main .container .col-quaranta {
  text-align: center;
  padding: 80px;
  /*debug*/
  width: 40%;
}

main .container .row-tech {
  text-align: center;
}

main .container .row-tech .testo,
.img {
  padding: 80px;
  align-content: center;
}

main .container .row-tech .testo-cta {
  align-content: center;
  padding: 20px;
  max-width: 100%;
}

main .container .row-cta {
  max-width: 100%;
  display: flex;
  text-align: center;
  margin-bottom: 120px;
}

main .container .row-cta .col-cta {
  width: 40%;
  padding: 40px;
}

main .container .row-cta .col-cta a {
  text-decoration: none;
  color: black;
  text-align: center;
}

main .container .row-cta .col-left,
.col-right {
  width: 20%;
  padding: 40px;
}

/* FINE MAIN */
/* INIZIO FOOTER */

footer .container .row-foot-info {
  display: flex;
  max-width: 100%;
  margin-top: 70px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

footer .container .row-foot-info .col-foot {
  width: 20%;
  height: 200px; /*debug*/
  padding: 40px;
}

footer .container .row-foot-reg {
  display: flex;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

footer .row-foot-reg .col-foot-logo {
  padding: 40px;
  width: 10%;
}

footer .row-foot-reg .col-foot-center {
  padding: 40px;
  width: 80%;
}

footer .row-foot-reg .col-foot-reg {
  padding: 40px;
  width: 10%;
}

footer .row-foot-reg .col-foot-reg a {
  padding: 40px;
  text-decoration: none;
  color: black;
}