* {
  margin: 0;
  padding: 0;
  box-sizing: 0 auto;
}

/* DEBUG */
.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

/* FINE DEBUG */

header {
  min-height: 80px;
  max-width: 98%;
}

header .container {
  max-width: 70%;
  min-height: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

header .container .col {
  flex-wrap: wrap;
  line-height: 65px;
}

.navbar {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.row a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

header .container .col nav ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  /*debug?*/
  padding: 10px;
}

header .container .text-box {
  margin-top: 80px;
  padding: 50px;
  flex-direction: row-reverse;
  text-align: center;
}

header .container .row {
  display: flex;
  justify-content: center;
}

header .container .row .buttons {
  list-style: none;
  display: inline-block;
  padding: 10px;
}